html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-main {
    background-color: #eaedf1;
}

.el-card {
    margin: 15px 0;
}

.el-cascader-panel {
    height: 200px;
}